rsaEncryption should be allowed for the OID designating the public key algorithm

(This is the same issue I raised on the older version, but it still seems to be an issue)

I'm running into a problem with an example of my own that has OID "1.2.840.113549.1.1.1" ("rsaEncryption" without a hash) as the "public key algorithm" (not the "signature algorithm"). It fails to verify in the CMS Signed Data complex example, due to this OID not being recognized.

The fix appears to be:
```
diff --git a/src/common.js b/src/common.js
index 8b72617..7815ab2 100644
--- a/src/common.js
+++ b/src/common.js
@@ -895,6 +895,11 @@ export function getAlgorithmByOID(oid)
 {
        switch(oid)
        {
+                case "1.2.840.113549.1.1.1":
+                        return {
+                               name: "RSASSA-PKCS1-v1_5"
+                        };
+
```
though maybe some other places that use OID need this added as well.

From RFC 5280:
> 4.1.2.7.  Subject Public Key Info   This field is used to carry the public key and identify the algorithm
   with which the key is used (e.g., RSA, DSA, or Diffie-Hellman).  The
   algorithm is identified using the AlgorithmIdentifier structure
   specified in Section 4.1.1.2.  The object identifiers for the
   supported algorithms and the methods for encoding the public key
   materials (public key and parameters) are specified in [RFC3279],
   [RFC4055], and [RFC4491].

And then, from RFC 3279:
> 2.3.1  RSA Keys   The OID rsaEncryption identifies RSA public keys.
     pkcs-1 OBJECT IDENTIFIER ::= { iso(1) member-body(2) us(840)
                     rsadsi(113549) pkcs(1) 1 }

i.e., the one ending in 1.1

Please take a look at my [answer](https://github.com/PeculiarVentures/PKI.js/pull/73) again.

So I understand you are saying that WebCrypto doesn't support RSA without a hash. Or are you saying something else? It looks like it does expect some hash function based on the spec. But what's weird is that my example still works fine. I see in your code that there's a step where it looks up default algorithm parameters and ends up using "SHA-256" in my example, and everything verifies successfully.

What would be your recommendation on how to proceed? I want to use pkijs and this is the OID in one of my typical examples.

Ah, nevermind. I talked to our local crypto expert, and I think I went about getting my test case to verify incorrectly. I think there's still a minor bug but my fix isn't the right fix. I'll get back to you with a new proposal.

So I don't see any other clear fix. I'll continue looking, but can you take a look at where src/SignedData.js raises this error: "Incorrect type for ECDSA public key parameters" and see if anything stands out as problematic if the signature algorithm is ECDSA but the public key info is RSA? It seems like maybe something's getting parsed wrong or just compared incorrectly in this case? 

The case when signature is ECDSA and public key is RSA is *completely* not a common case. I would consult with @rmhrisk if the case even allowed by offical recomendations for certificates.

It is not ideal, but arguably common, for there to be "hybrid certificate" chains made up of many different algorithms. The most common reason for this to happen is because of the problem of "root ubiquity".

One might want to use ECC due to its performance and size characteristics but the ECC "root" they have is not root that is sufficiently ubiquitous to rely on. In such cases a RSA CA will sign a ECC certificate. 

Sometimes this might be a RSA root signing a ECC subordinate, signing a ECC leaf. 

In short, there is no requirement for a chain to be all of one algorithm.

Now we have a larger issue, our design here presumes that we do all crypto via WebCrypto, webcryptio requires us to specify a hash algorithm when importing an RSA key (see https://github.com/diafygi/webcrypto-examples#rsassa-pkcs1-v1_5---importkey).

Right now we make an assumption that the hash algorithm we should use on this import is the hash algorithm that was used to sign the certificate. This is not an ideal assumption but I don't know what better choice we have.

The best we could do is maintain a table of RSA key length and hash pairings.

@abgoldberg can you explain why you want to have different hashes in the chain?


This seems to in essence be a dupe of https://github.com/PeculiarVentures/pkijs-es6/issues/6 so I am closing #5

@rmhrisk To answer you last question, we use ECC wherever possible because it's faster, but we need to use RSA for compatibility for other S/MIME clients like Outlook.

We're still confused, though. Maybe the answer is simply that we're currently using certs that just aren't going to be compatible with WebCrypto (and thus don't fit the assumptions of PKIjs). Or maybe our certs are compatible, but we're having trouble describing the problem and it's just a matter of miscommunication.  It would seem like in the CMS example, where all we're trying to do is verify data, that the public key algorithm wouldn't matter (and in fact, with the changes I made, it all verifies fine without a hash function associated with the RSA key). I haven't tried to decrypt or encrypt anything yet, though, so maybe that's where I'd run into a real incompatibility that can't be worked around.

To help proceed, I've attached the sample data I've been playing with in the "CMS Signed complex example" (just skipping the generate step and using the .dat file in "Parse loaded/created CMS Signed Data" and the pem file in "Verify loaded/created CMS Signed Data"). Maybe you can inspect the relevant bits of data and see if there's really a bug or something about my example data/cert that's simply not supported by pkijs/webcrypto. If it's a compatibility issue, would our example ever be supported, or what would you recommend in terms of generating new certs that would be compatible?

Thanks again. As you can see, we're very motivated to get pkijs up and running for our application, and I really appreciate the quick support.

[CMS_test_data.zip](https://github.com/PeculiarVentures/pkijs-es6/files/485420/CMS_test_data.zip)



@abgoldberg I am a little confused, if the goal is to be compatible with RSA only clients why do a hybrid certificate chain made up of a mix of asymmetric algorithms and hashes? You would in that case want a full ECC SHA2 certificate chain and a full RSA SHA2 certificate chain so clients that dont do ECC can validate the chain.

As for the origin of this complexity in the case of PKIjs, to verify a signature we need to import the public key. WebCrypto requires us to specify a hash algorithm on import, we took the simplifying assumption that the hash algorhim would always be the hash algorithm used to sign the certificate in question. This is not a great assumption but we dont have a ton of great choices either, other options include:
1. Trying all agorithms supported by webcrypto until the import suceeds,
2. Maintaining a static mapping of asymetric algorthm to hash algorithm.

We cant really punt the problem to the caller because this can vary in a certificate chain. We are fine with the idea of doing 1 or 2 if it materialy helps but were just confused as to what your really going for here.

Thanks. It's probably easiest if I refer you to my boss Dave who knows more about all this. He prefers email. Can you message him at dave@inky.com?

Spoke with Dave.

They have adopted this "hybrid chain" because the target UA will not do ECC key exchange but the  chain engine it uses will allow for ECC signatures.

The decision to use the hybrid chain is one attempting to optimize for performance, and I imagine to keep the same CAs once that UA is either not needed or is upgraded.

This is a bit odd (I would have kept with a non-hybrid chain) but it is a scenario allowed for by the standards and I suspect others will do this also so we should try to support it.

What I dont honestly understand is why WebCrypto, or at least the Chrome WebCrypto, requires the hash to be specified on a public key import like this. I have never seen this in any other API and it should not be needed cryptographically. With that said I think the "cheapest" way to handle this is a map of algorithm to hash.

@YuryStrozhevsky what do you think?

So, in fact you could make import for RSA public key **with any hash algorithms** and it would be correcty imported. But the question is how the imported key will be used. Usually the public key uses for verification only. So, in order to have data correctly verified you do need a correct hash parameters for used public key. Let's take a look at following test function (written using old version of PKIjs in order to have things simplier). Input for the function is a raw ArrayBuffer with any self-signed RSA+SHA1 certificate. You could generate one on [this page](https://pkijs.org/examples/X509_cert_complex_example.html).
```javascript
                function testImportKey(buffer)
                {
                    const asn1 = org.pkijs.fromBER(buffer);
                    const certificate = new org.pkijs.simpl.CERT({ schema: asn1.result });

                    var publicKeyInfo_schema = certificate.subjectPublicKeyInfo.toSchema();
                    var publicKeyInfo_buffer = publicKeyInfo_schema.toBER(false);
                    var publicKeyInfo_view = new Uint8Array(publicKeyInfo_buffer);

                    // #region Get a "crypto" extension 
                    var crypto = org.pkijs.getCrypto();
                    if(typeof crypto == "undefined")
                        return Promise.reject("Unable to create WebCrypto object");
                    // #endregion 

                    const importPromises = [
                        crypto.importKey("spki", publicKeyInfo_view, { name: "RSASSA-PKCS1-V1_5", hash: { name: "SHA-1" } }, true, ["verify"]),
                        crypto.importKey("spki", publicKeyInfo_view, { name: "RSASSA-PKCS1-V1_5", hash: { name: "SHA-256" } }, true, ["verify"]),
                        crypto.importKey("spki", publicKeyInfo_view, { name: "RSASSA-PKCS1-V1_5", hash: { name: "SHA-384" } }, true, ["verify"]),
                        crypto.importKey("spki", publicKeyInfo_view, { name: "RSASSA-PKCS1-V1_5", hash: { name: "SHA-512" } }, true, ["verify"]),
                    ];

                    return Promise.all(importPromises).then(results => {
                        const signatureValue = certificate.signatureValue.value_block.value_hex;
                        const tbs = certificate.tbs;

                        const verifyPromises = [
                            crypto.verify({ name: "RSASSA-PKCS1-V1_5", hash: { name: "SHA-1" } }, results[0], new Uint8Array(signatureValue), new Uint8Array(tbs)),
                            crypto.verify({ name: "RSASSA-PKCS1-V1_5", hash: { name: "SHA-256" } }, results[1], new Uint8Array(signatureValue), new Uint8Array(tbs)),
                            crypto.verify({ name: "RSASSA-PKCS1-V1_5", hash: { name: "SHA-384" } }, results[2], new Uint8Array(signatureValue), new Uint8Array(tbs)),
                            crypto.verify({ name: "RSASSA-PKCS1-V1_5", hash: { name: "SHA-512" } }, results[3], new Uint8Array(signatureValue), new Uint8Array(tbs)),
                        ];

                        return Promise.all(verifyPromises).then(_results => {
                            const i = 0;
                        })
                    }, error => {
                        const i = 0;
                    });
                }
```
As a result of verifyPromises you will have [true, false, false, false]. But if you would change result[0] to result[1] for example you will have [false, false, false, false]. As a conclusion: in order to have correct verification results you need to have correct hash algorithm during importing public key.

But in fact I could solve the issue. I will come back when I finish.

Ah, I understand this restriction now.

In this case, though, the key will never be used for verification, it is an encryption-only key. As such we should be able to get away without specification as long as the implementations will let us, and if they don't it doesn't really matter what we specify since the intent is for the key only to be used for encryption.

Correct?

Ryan

In fact yes, in case encryption they do not need a specific hashing algorithm and can specify any of them. But current problem that I need to correct PKIjs by the way when all parts of library would work correctly. Hope I will finish at Monday.

I have fixed the issue in latest release. In fact solution is almost simular to provided by @abgoldberg, I just put it in all related files properly. So, please test and come back with results.

The problem seems fixed now. I tried my test case with the latest code, and it verified! Thanks so much. Now onto trying to decrypt the contents... :)